<!DOCTYPE html>
<html class="is-fullwidth" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content="<%= csrfToken %>" />

  <title>
    <%= headTitle %>:
    <%= configFunctions.getConfigProperty("application.applicationName") %>
  </title>

  <link rel="apple-touch-icon" sizes="180x180" href="<%= urlPrefix %>/images/favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="<%= urlPrefix %>/images/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="<%= urlPrefix %>/images/favicon/favicon-16x16.png" />
  <link rel="icon" type="image/svg+xml" href="<%= urlPrefix %>/images/favicon/favicon.svg" />
  <link rel="mask-icon" href="<%= urlPrefix %>/images/favicon/safari-pinned-tab.svg" color="#5bbad5" />
  <link rel="shortcut icon" href="<%= urlPrefix %>/images/favicon/favicon.ico" />

  <link rel="stylesheet" href="<%= urlPrefix %>/stylesheets/style.css" />
</head>

<body>
  <div class="columns is-mobile mb-0">
    <div class="column mt-3 ml-3 is-hidden-print" style="flex:none;width:250px">
      <div style="position:sticky;top:12px">
        <div class="is-flex mb-3">
          <img class="ml-1 mr-2" src="<%= urlPrefix + configFunctions.getConfigProperty('application.smallLogoURL') %>" alt="" style="max-height:32px" />
          <p class="has-text-weight-bold"><%= configFunctions.getConfigProperty('application.applicationName') %></p>
        </div>
        <aside class="menu">
          <ul class="menu-list">
            <li>
              <a
                class="<%= (headTitle === 'Dashboard' ? 'is-active' : '') %>"
                href="<%= urlPrefix %>/dashboard">
                <span class="icon"><i class="fas fa-chart-area" aria-hidden="true"></i></span>
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <a
                class="<%= (headTitle === 'Assets' ? 'is-active' : '') %>"
                href="<%= urlPrefix %>/assets">
                <span class="icon"><i class="fas fa-bolt" aria-hidden="true"></i></span>
                <span>Assets</span>
              </a>
            </li>
            <% if (user.canUpdate) { %>
              <li>
                <a
                  class="<%= (headTitle === 'Data' ? 'is-active' : '') %>"
                  href="<%= urlPrefix %>/data">
                  <span class="icon"><i class="fas fa-table" aria-hidden="true"></i></span>
                  <span>Data</span>
                </a>
              </li>
            <% } %>
            <li>
              <a
                class="<%= (headTitle === 'Reports' ? 'is-active' : '') %>"
                href="<%= urlPrefix %>/reports">
                <span class="icon"><i class="fas fa-file" aria-hidden="true"></i></span>
                <span>Reports</span>
              </a>
            </li>
          </ul>
          <div class="menu-label">
            Options
          </div>
          <ul class="menu-list">
            <% if (user.isAdmin) { %>
              <li>
                <a
                  class="<%= (headTitle === 'Settings' ? 'is-active' : '') %>"
                  href="<%= urlPrefix %>/admin">
                  <span class="icon"><i class="fas fa-cog" aria-hidden="true"></i></span>
                  <span>Settings</span>
                </a>
              </li>
            <% } %>
            <li>
              <a href="https://cityssm.github.io/EMILE/docs" target="_blank" rel="noopener noreferrer">
                <span class="icon"><i class="fas fa-question-circle" aria-hidden="true"></i></span>
                <span>Help</span>
              </a>
            </li>
            <li>
              <a id="cityssm-theme--logout-button" href="#">
                <span class="icon"><i class="fas fa-sign-out-alt" aria-hidden="true"></i></span>
                <span>Log Out</span>
              </a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
    <div class="column">
      <main class="pt-2 mr-4 has-min-page-height"
        data-session-keep-alive-millis="<%= configFunctions.keepAliveMillis %>"
        data-url-prefix="<%= urlPrefix %>"
        data-user-name="<%= user.userName %>"
        data-can-update="<%= user.canUpdate ? "true" : "false" %>"
        data-is-admin="<%= user.isAdmin ? "true" : "false" %>">

