<%- include('_header'); -%>

<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="<%= urlPrefix %>/admin">
        <span class="icon is-small">
          <i class="fas fa-cog" aria-hidden="true"></i>
        </span>
        <span>Administrator Settings</span>
      </a>
    </li>
    <li class="is-active">
      <a href="<%= urlPrefix %>/admin/database" aria-current="page">
        <span class="icon is-small">
          <i class="fas fa-database" aria-hidden="true"></i>
        </span>
        <span>Database Maintenance</span>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-1">
  Database Maintenance
</h1>

<div class="box has-background-white-ter">
  <div class="buttons">
    <button class="button is-info is-cleanup-button" type="button">
      <span class="icon"><i class="fas fa-broom" aria-hidden="true"></i></span>
      <span>Cleanup Database</span>
    </button>
    <button class="button is-success is-backup-button" type="button">
      <span class="icon"><i class="fas fa-save" aria-hidden="true"></i></span>
      <span>Backup Database</span>
    </button>
  </div>
</div>
<div class="tab-container">
  <div class="tab-content" id="tab--backupDatabase">
    <div class="columns">
      <div class="column is-narrow">
      </div>
      <div class="column">
        <div id="container--backupFiles"></div>
      </div>
    </div>
  </div>
  <div class="tab-content is-hidden" id="tab--cleanupDatabase"></div>
</div>

<%- include('_footerA'); -%>

<script>
  exports.backupFiles = <%- JSON.stringify(backupFiles) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/adminDatabase.min.js"></script>

<%- include('_footerB'); -%>
