<%- include('_header'); -%>

<div class="level is-mobile">
  <div class="level-left">
    <div class="level-item">
      <h1 class="title is-1">Assets</h1>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <a class="button is-white" href="https://cityssm.github.io/EMILE/docs/assets.html" target="_blank" rel="noopener noreferrer">
        <span class="icon is-small"><i class="far fa-question-circle" aria-hidden="true"></i></span>
        <span>Help</span>
      </a>
    </div>
  </div>
</div>

<div class="tabs is-boxed">
  <ul role="presentation">
    <li class="is-active">
      <a href="#tab--assets">
        <span class="icon is-small"
          ><i class="fas fa-building" aria-hidden="true"></i
        ></span>
        <span>Assets</span>
        <span class="tag ml-2" id="count--assets">-</span>
      </a>
    </li>
    <li>
      <a href="#tab--assetGroups">
        <span class="icon is-small"
          ><i class="fas fa-city" aria-hidden="true"></i
        ></span>
        <span>Asset Groups</span>
        <span class="tag ml-2" id="count--assetGroups">-</span>
      </a>
    </li>
  </ul>
</div>
<div class="tab-container">
  <div class="tab-content" id="tab--assets">
    <div class="box has-background-white-ter">
      <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <div class="control has-icons-left">
              <div class="select">
                <select id="filter--categoryId" aria-label="Filter Asset Category">
                  <option value="">(All Categories)</option>
                  <% for (const category of assetCategories) { %>
                  <option value="<%= category.categoryId %>">
                    <%= category.category %>
                  </option>
                  <% } %>
                </select>
              </div>
              <span class="icon is-small is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="level-item">
            <div class="control has-icons-left">
              <input
                class="input"
                id="filter--assets"
                type="text"
                placeholder="Filter Assets"
                aria-label="Filter Assets"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="level-right">
          <% if (user.canUpdate) { %>
            <div class="level-item">
              <button
                class="button is-primary"
                id="button--mergeAssets"
                data-cy="merge"
                type="button"
                disabled
              >
                <span class="icon">
                  <i class="far fa-object-group" aria-hidden="true"></i>
                </span>
                <span>Merge Assets</span>
              </button>
            </div>
            <div class="level-item">
              <button
                class="button is-success"
                id="button--addAsset"
                data-cy="add"
                type="button"
              >
                <span class="icon">
                  <i class="fas fa-plus" aria-hidden="true"></i>
                </span>
                <span>Create Asset</span>
              </button>
            </div>
          <% } %>
          <div class="level-item">
            <a
              class="button"
              href="<%= urlPrefix %>/reports/assets-formatted"
              download
            >
              <span class="icon">
                <i class="fas fa-file-csv" aria-hidden="true"></i>
              </span>
              <span>Export Assets</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="container--assets"></div>
  </div>
  <div class="tab-content is-hidden" id="tab--assetGroups">
    <div class="box has-background-white-ter">
      <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <div class="control has-icons-left">
              <input
                class="input"
                id="filter--assetGroups"
                type="text"
                placeholder="Filter asset groups"
                aria-label="Filter asset groups"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <% if (user.canUpdate) { %>
        <div class="level-right">
          <div class="level-item">
            <button
              class="button is-success"
              id="button--addAssetGroup"
              data-cy="add"
              type="button"
            >
              <span class="icon">
                <i class="fas fa-plus" aria-hidden="true"></i>
              </span>
              <span>Create Asset Group</span>
            </button>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <div id="container--assetGroups"></div>
  </div>
</div>

<%- include('_footerA'); -%>

<script>
  exports.Emile.assets = <%- JSON.stringify(assets) %>;
  exports.Emile.assetGroups = <%- JSON.stringify(assetGroups) %>;
  exports.Emile.assetCategories = <%- JSON.stringify(assetCategories) %>;
  exports.assetAliasTypes = <%- JSON.stringify(assetAliasTypes) %>;

  bulmaJS.init()
</script>
<script src="<%= urlPrefix %>/javascripts/assets.min.js"></script>
<script src="<%= urlPrefix %>/javascripts/assetGroups.min.js"></script>

<%- include('_footerB'); -%>
