<%- include('_header'); -%>

<nav class="level is-mobile">
  <div class="level-left">
    <div class="level-item">
      <div id="dashboard--assetSelector">
        <input id="dashboard--assetId" name="assetId" type="hidden" />
        <input id="dashboard--groupId" name="groupId" type="hidden" />
        <div class="field has-addons">
          <div class="control">
            <span class="button is-static">
              <span class="icon">
                <i class="fas fa-building" aria-hidden="true"></i>
              </span>
            </span>
          </div>
          <div class="control is-expanded">
            <button
              class="button is-justify-content-start"
              type="button"
              style="min-width: 300px"
            >
              (Select Assets)
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <div class="field has-addons">
        <div class="control">
          <label class="button is-static" for="dashboard--startDate">
            <span class="icon">
              <i class="fas fa-play" aria-hidden="true"></i>
            </span>
          </label>
        </div>
        <div class="control">
          <input
            class="input"
            id="dashboard--startDate"
            name="startDate"
            type="date"
            required
          />
        </div>
      </div>
    </div>
    <div class="level-item">
      <div class="field has-addons">
        <div class="control">
          <label class="button is-static">
            <span class="icon">
              <i class="fas fa-stop" aria-hidden="true"></i>
            </span>
          </label>
        </div>
        <div class="control">
          <input
            class="input"
            id="dashboard--endDate"
            name="endDate"
            type="date"
            required
          />
        </div>
      </div>
    </div>
  </div>
</nav>

<h1 class="title is-1">
  <%= configFunctions.getConfigProperty("application.applicationName") %>
</h1>

<div class="message is-info">
  <p class="message-body">Under Development</p>
</div>

<%- include('_footerA'); -%>

<script>
  exports.Emile.assets = <%- JSON.stringify(assets) %>;
  exports.Emile.assetGroups = <%- JSON.stringify(assetGroups) %>;
  exports.Emile.assetCategories = <%- JSON.stringify(assetCategories) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/dashboard.min.js"></script>

<%- include('_footerB'); -%>
