<%- include('_header'); -%>

<div class="level is-mobile">
  <div class="level-left">
    <div class="level-item">
      <h1 class="title is-1">
        <%= configFunctions.getConfigProperty("application.applicationName") %>
      </h1>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <a class="button is-white" href="https://cityssm.github.io/EMILE/docs/dashboard.html" target="_blank" rel="noopener noreferrer">
        <span class="icon is-small"><i class="far fa-question-circle" aria-hidden="true"></i></span>
        <span>Help</span>
      </a>
    </div>
  </div>
</div>

<div class="box has-background-white-ter">
  <form id="form--dashboard">
    <nav class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <div id="dashboard--assetSelector">
            <input id="dashboard--assetId" name="assetId" type="hidden" />
            <input id="dashboard--categoryId" name="categoryId" type="hidden" />
            <input id="dashboard--groupId" name="groupId" type="hidden" />
            <div class="field has-addons">
              <div class="control">
                <span class="button is-static">
                  <span class="icon">
                    <i class="fas fa-bolt" aria-hidden="true"></i>
                  </span>
                </span>
              </div>
              <div class="control is-expanded">
                <button
                  class="input"
                  type="button"
                  style="min-width: 300px"
                >
                  (Select Assets)
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="level-right">
        <%
          const dateMax = (energyDataStatistics.endTimeSecondsMax ?? 0) === 0
            ? new Date()
            : new Date(energyDataStatistics.endTimeSecondsMax * 1000)

          const dateMaxString = dateTimeFunctions.dateToString(dateMax)

          const dateMin = (energyDataStatistics.timeSecondsMin ?? 0) === 0 
            ? dateMax
            : new Date(energyDataStatistics.timeSecondsMin * 1000)

          const dateMinString = dateTimeFunctions.dateToString(dateMin)

          const monthsAgoDate = new Date(dateMax.getTime())
          monthsAgoDate.setMonth(monthsAgoDate.getMonth() - 1)

          const startDateString = dateTimeFunctions.dateToString(new Date(Math.max(dateMin.getTime(), monthsAgoDate.getTime())))
        %>
        <div class="level-item">
          <div class="field has-addons">
            <div class="control">
              <label class="button is-static" for="dashboard--startDateString">
                <span class="icon">
                  <i class="fas fa-play" aria-hidden="true"></i>
                </span>
              </label>
            </div>
            <div class="control">
              <input
                class="input"
                id="dashboard--startDateString"
                name="startDateString"
                type="date"
                value="<%= startDateString %>"
                min="<%= dateMinString %>"
                max="<%= dateMaxString %>"
                aria-label="Dashboard Data Start Date"
                required
              />
            </div>
          </div>
        </div>
        <div class="level-item">
          <div class="field has-addons">
            <div class="control">
              <label class="button is-static" for="dashboard--endDateString">
                <span class="icon">
                  <i class="fas fa-stop" aria-hidden="true"></i>
                </span>
              </label>
            </div>
            <div class="control">
              <input
                class="input"
                id="dashboard--endDateString"
                name="endDateString"
                type="date"
                value="<%= dateMaxString %>"
                min="<%= dateMinString %>"
                max="<%= dateMaxString %>"
                aria-label="Dashboard Data End Date"
                required
              />
            </div>
          </div>
        </div>
        <div class="level-item">
          <button class="button is-primary" type="submit" disabled>
            <span class="icon"><i class="fas fa-sync" aria-hidden="true"></i></span>
            <span>Apply</span>
          </button>
        </div>
      </div>
    </nav>
  </form>
</div>

<div id="container--dashboard"></div>

<%- include('_footerA'); -%>

<script>
  exports.Emile.assets = <%- JSON.stringify(assets) %>;
  exports.Emile.assetGroups = <%- JSON.stringify(assetGroups) %>;
  exports.Emile.assetCategories = <%- JSON.stringify(assetCategories) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/dashboard.min.js"></script>

<%- include('_footerB'); -%>
