<%- include('_header'); -%>

<h1 class="title is-1">
  <%= configFunctions.getConfigProperty("application.applicationName") %>
</h1>

<div class="box has-background-white-ter">
  <form id="form--dashboard">
    <nav class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <div id="dashboard--assetSelector">
            <input id="dashboard--assetId" name="assetId" type="hidden" />
            <input id="dashboard--groupId" name="groupId" type="hidden" />
            <div class="field has-addons">
              <div class="control">
                <span class="button is-static">
                  <span class="icon">
                    <i class="fas fa-bolt" aria-hidden="true"></i>
                  </span>
                </span>
              </div>
              <div class="control is-expanded">
                <button
                  class="input"
                  type="button"
                  style="min-width: 300px"
                >
                  (Select Assets)
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="level-right">
        <%
          const dateMax = new Date()
          const dateMaxString = dateTimeFunctions.dateToString(dateMax)

          const dateMin = (energyDataStatistics.timeSecondsMin ?? 0) === 0 
            ? dateMax
            : new Date(energyDataStatistics.timeSecondsMin * 1000)

          const dateMinString = dateTimeFunctions.dateToString(dateMin)

          const lastMonthDate = new Date()
          lastMonthDate.setMonth(lastMonthDate.getMonth() - 1)

          const startDateString = dateTimeFunctions.dateToString(new Date(Math.max(dateMin.getTime(), lastMonthDate.getTime())))
        %>
        <div class="level-item">
          <div class="field has-addons">
            <div class="control">
              <label class="button is-static" for="dashboard--startDate">
                <span class="icon">
                  <i class="fas fa-play" aria-hidden="true"></i>
                </span>
              </label>
            </div>
            <div class="control">
              <input
                class="input"
                id="dashboard--startDateString"
                name="startDateString"
                type="date"
                value="<%= startDateString %>"
                min="<%= dateMinString %>"
                max="<%= dateMaxString %>"
                required
              />
            </div>
          </div>
        </div>
        <div class="level-item">
          <div class="field has-addons">
            <div class="control">
              <label class="button is-static">
                <span class="icon">
                  <i class="fas fa-stop" aria-hidden="true"></i>
                </span>
              </label>
            </div>
            <div class="control">
              <input
                class="input"
                id="dashboard--endDateString"
                name="endDateString"
                type="date"
                value="<%= dateMaxString %>"
                min="<%= dateMinString %>"
                max="<%= dateMaxString %>"
                required
              />
            </div>
          </div>
        </div>
      </div>
    </nav>
  </form>
</div>

<div id="container--dashboard"></div>

<%- include('_footerA'); -%>

<script>
  exports.Emile.assets = <%- JSON.stringify(assets) %>;
  exports.Emile.assetGroups = <%- JSON.stringify(assetGroups) %>;
  exports.Emile.assetCategories = <%- JSON.stringify(assetCategories) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/dashboard.min.js"></script>

<%- include('_footerB'); -%>
