<%- include('_header'); -%>

<div class="level is-mobile">
  <div class="level-left">
    <div class="level-item">
      <h1 class="title is-1">Data</h1>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <a class="button is-white" href="https://cityssm.github.io/EMILE/docs/data.html" target="_blank" rel="noopener noreferrer">
        <span class="icon is-small"><i class="far fa-question-circle" aria-hidden="true"></i></span>
        <span>Help</span>
      </a>
    </div>
  </div>
</div>

<% if (assets.length === 0) { %>
  <div class="message is-warning">
    <p class="message-body">
      <strong>There are currently no active assets in the system.</strong><br />
      Assets can be created from uploaded data files.
    </p>
  </div>
<% } %>

<div class="tabs is-boxed">
  <ul>
    <li class="is-active">
      <a href="#tab--pending">
        <span class="icon is-small"
          ><i class="fas fa-upload" aria-hidden="true"></i
        ></span>
        <span>Pending Files</span>
        <span class="tag ml-2" id="count--pendingFiles">-</span>
      </a>
    </li>
    <li>
      <a href="#tab--processed">
        <span class="icon is-small"
          ><i class="fas fa-database" aria-hidden="true"></i
        ></span>
        <span>Processed Files</span>
      </a>
    </li>
  </ul>
</div>
<div class="tab-container">
  <div class="tab-content" id="tab--pending">
    <div class="box has-background-white-ter has-text-right">
      <button class="button is-info is-refresh-button" type="button">
        <span class="icon"><i class="fas fa-sync" aria-hidden="true"></i></span>
        <span>Refresh Files</span>
      </button>
    </div>
    <div class="columns">
      <div class="column is-3">
        <div class="box has-text-centered" id="upload--dropZone">
          <i class="fas fa-5x fa-upload" aria-hidden="true"></i><br />
          Upload Files<br />
          <span class="is-size-7">Drag-and-drop them here</span>
        </div>
      </div>
      <div class="column">
        <div id="container--pendingFiles"></div>
      </div>
    </div>
  </div>
  <div class="tab-content is-hidden" id="tab--processed">
    <div class="box has-background-white-ter">
      <div class="control has-icons-left">
        <input class="input" id="filter--processed" type="text" placeholder="Filter processed files" aria-level="Filter processed files" />
        <span class="icon is-small is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <div id="container--processedFiles"></div>
  </div>
</div>

<%- include('_footerA'); -%>

<script>
  exports.Emile.assets = <%- JSON.stringify(assets) %>;

  exports.pendingFiles = <%- JSON.stringify(pendingFiles) %>;
  exports.processedFiles = <%- JSON.stringify(processedFiles) %>;
  exports.parserClassesAndConfigurations = <%- JSON.stringify(parserClassesAndConfigurations) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/data.min.js"></script>

<%- include('_footerB'); -%>
