<%- include('_header'); -%>

<h1 class="title is-1">Data</h1>

<div class="tabs is-boxed">
  <ul>
    <li class="is-active">
      <a href="#tab--pending">
        <span class="icon is-small"
          ><i class="fas fa-upload" aria-hidden="true"></i
        ></span>
        <span>Pending Files</span>
        <span class="tag ml-2" id="count--pendingFiles">-</span>
      </a>
    </li>
    <li>
      <a href="#tab--processed">
        <span class="icon is-small"
          ><i class="fas fa-database" aria-hidden="true"></i
        ></span>
        <span>Processed Files</span>
      </a>
    </li>
  </ul>
</div>
<div class="tab-container">
  <div class="tab-content" id="tab--pending">
    <div class="columns">
      <div class="column is-3">
        <div class="box has-text-centered" id="upload--dropZone">
          <i class="fas fa-5x fa-upload" aria-hidden="true"></i><br />
          Upload Files<br />
          <span class="is-size-7">Drag-and-drop them here</span>
        </div>
      </div>
      <div class="column">
        <div id="container--pendingFiles"></div>
      </div>
    </div>
  </div>
  <div class="tab-content is-hidden" id="tab--processed"></div>
</div>

<%- include('_footerA'); -%>

<script>
  exports.pendingFiles = <%- JSON.stringify(pendingFiles) %>;
  exports.failedFiles = <%- JSON.stringify(failedFiles) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/data.min.js"></script>

<%- include('_footerB'); -%>
